amqp==1.4.9
anyjson==0.3.3
autopep8==1.4.4
billiard==3.3.0.23
blis==0.2.4
celery==3.1.26.post2
certifi==2019.3.9
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==7.1.2
cymem==2.0.3
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2
django-admin-rangefilter==0.6.1
django-allauth==0.39.1
django-celery==3.3.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==2.2
django-filter==2.2.0
django-heroku==0.3.1
djangorestframework==3.10.3
gunicorn==20.0.4
idna==2.8
importlib-metadata==1.7.0
joblib==0.16.0
kombu==3.0.37
mathparse==0.1.2
mpesa-api==0.2.3
murmurhash==1.0.2
nltk==3.5
numpy==1.19.1
oauthlib==3.0.1
packaging==20.4
pep8==1.7.1
Pillow==6.0.0
Pint==0.14
plac==0.9.6
preshed==2.0.1
psycopg2==2.8.5
pycodestyle==2.5.0
PyJWT==1.7.1
pymongo==3.10.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.7.5
python-decouple==3.1
python-dotenv==0.14.0
python3-openid==3.1.0
pytz==2018.5
PyYAML==3.13
regex==2020.7.14
requests==2.21.0
requests-oauthlib==1.2.0
six==1.15.0
spacy==2.1.9
SQLAlchemy==1.2.19
sqlparse==0.2.4
srsly==1.0.2
stripe==2.27.0
thinc==7.0.8
tqdm==4.48.0
twilio==6.10.1
urllib3==1.24.2
wasabi==0.7.1
whitenoise==5.1.0
zipp==3.1.0
